@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Pixelify+Sans:wght@400..700&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}
:root{
  /* colors */
  /*--bg-color: #f8f7f3;*/
  --bg-color: #f0eef3;
  --white: #ffffff;
  --black: #000000;
  --pale-pink: #fde8ef;
  --pink: #fec5e9;
  --pale-yellow: #efeba4;
  --golden-yellow: #ffc000;
  --gray-black: #1e1e1e;
  --pale-gray: #d9d9d9;
  --marian-blue: #E1EBEE;
  --periwinkle: #CCCCFF;
  
  /* fonts */
  --cherry: "Cherry Bomb One";
  --pixel: "Pixelify Sans";
}
html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
  background: var(--bg-color);
}
.content-wrapper{
    flex: 1;
    position: relative;
}
.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.ovals{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.oval-1, .oval-2 {
  width: 43.16rem;
  height: 10.28rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid var(--periwinkle);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.star{
    position: absolute;
    width: 40px;
    height: auto;
    z-index: 3;
}
.star-1{
    top: 20%;
    left: 0%;
}
.star-2 {
    top: 54%;
    right: -0.5%;
}
.oval-1{
  transform: rotate(-8deg);
}
.oval-2{
  transform: rotate(6deg);
}
.header-title{
  font-family: var(--cherry);
  color: var(--golden-yellow);
  text-align: center;
  font-size: 6rem;
  line-height: normal;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

.header-desc{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59rem;
  height: 8rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: var(--marian-blue);
  font-family: var(--pixel);
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem auto;
}

.carousel-container{
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}
#prev {
  left: 0;
}
#next {
  right: 0;
}
.carousel-btn:hover{
  background: rgba(0,0,0,0.8);
}
/* challenges */
.challenges{
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  width: max-content;
  font-family: var(--pixel);
}
.challenge{
  position: relative;
  width: 28.125rem;
  height: 34.625rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  background: var(--pale-pink);
  margin: 0 10px;
}
.challenge-day{
  position: absolute;
  width: inherit;
  top: -2px;
  left: -2px;
  background: var(--pink);
  height: 3.125rem;
  color: var(--gray-black);
  text-align: left;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.challenge-text{
  font-size: 2rem;
  margin-left: 1rem;
}
.challenge-img{
  width: 25.125rem;
  height: 18.125rem;
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background: black;
  object-fit: cover;
}
.challenge-title{
  font-size: 2.4rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--gray-black);
}
.challenge-links{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
}
.challenge-link {
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  color: var(--gray-black);
  border: 2px solid black;
  width: 8rem;
  height: 3rem;
  font-size: 1.5rem;
}
.demo-link{
  background: var(--periwinkle);
  text-decoration: none;
}
.repo-link{
  background: var(--marian-blue);
  text-decoration: none;
}
.demo-link:hover, .repo-link:hover{
  transform: translate(-4px, -4px);
  box-shadow: 2px 4px black;
}
.title-btn {
  position: absolute;
  display: block;
  top: 50%;
  right: 8px;
  transform: translatey(-50%);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.btn1, .btn2, .btn3{
  width: 28px;
  height: 28px;
  background: var(--pale-pink);
}
.end-note{
    white-space: nowrap;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--pixel);
}

/* media queries */
@media (max-width: 992px){
    .header-title{
        font-size: 4rem;
    }
    .star{
        width: 30px;
    }
    .oval-1, .oval-2{
        width: 70%;
        height: 50%;
    }
    .header-desc{
        font-size: 1rem;
        width: 70%;
        margin: 2rem auto;
    }
    .carousel-container{
        width: 70%;
    }
    .challenge{
        width: 20rem;
    }
    .challenge-img{
        width: 18.125rem;
        height: 12.125rem;
    }
    .challenge-links{
        width: 5rem;
    }
    .challenge-title{
        font-size: 1.5rem;
    }
    .end-note{
        overflow: auto;
    }
}

@media (max-width: 676px){
    .header-title{
        font-size: 3rem;
    }
    .star{
        width: 20px;
    }
    .header-desc{
        font-size: 0.75rem;
        height: 50%;
        margin: 1rem auto;
    }
    .carousel-container{
        width: 70%;
    }
    .challenge{
        width: 18.5rem;
        height: 23.5rem;
    }
    .challenge-title{
        font-size: 1.75rem;
    }
    .challenge-day{
        height: 2.125rem;
    }
    .challenge-img{
        width: 16rem;
        height: 10.5rem;
        margin-bottom: 2px;
    }
    svg, .btn1, .btn2, .btn3{
        height: 16px;
        width: 16px;
    }
    .challenge-text{
        font-size: 1.5rem;
    }
    .challenge-link{
        height: 2rem;
        font-size: 1rem;
    }
    .end-note{
        text-wrap: wrap;
        text-align: center;
        font-size: 0.75rem;
        line-height: 1rem;
        overflow: visible;
    }
}

@media (max-width: 576px){
    .header-title{
        font-size: 2rem;
    }
    .challenge{
        width: 14.4rem;
        height: 23.5rem;
    }
    .challenge-img{
        width: 12.125rem;
        height: 9.125rem;
        margin-bottom: 0;
    }
    .challenge-title{
        font-size: 1.5rem;
    }
    .end-note{
        overflow: visible;
    }
}
