@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(121,9,102,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Sigmar';
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid black;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Hands */
.hand {
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* Hour hand: shorter */
.hour-hand {
  width: 30%;
  height: 12px;
  background: black;
  left: 20%;
  border-radius: 4px;
  background: #000; 
  transform-origin: 97%;
}

/* Minute hand */
.min-hand {
  width: 40%;
  height: 12px;
  background: black;
  left: 10%;
  border-radius: 4px;
  background: #000;
}

/* Second hand: thinner */
.second-hand {
  width: 45%;
  height: 2px;
  background: #8B0000;
  left: 5%;
}

/* Hour numbers */
.hour-mark {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

/* Minute tick marks */
.tick {
  position: absolute;
  width: 2px;
  background: black;
  top: 50%;
  left: 50%;
  transform-origin: center;
}
