@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

html{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
*, *:before, *:after{
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
body{
  margin: 0;
}
.site-wrap{
  max-width: 850px;
  margin: 40px auto;
  background: #fff;
  padding: 40px;
  text-align: justify;
  overflow: hidden;
}
header{
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(148, 187, 233, 0.8);
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}
nav{
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.5s;
  position: relative;
  background: rgba(148, 187, 233, 0.8);
}
.fixed-nav nav{
  position: fixed;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0,0,0,.12),0px 0px 6px 0px rgba(0,0,0,.03);
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav li{
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
li.logo{
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}
.fixed-nav li.logo{
  max-width: 500px;
  font-size: 18px;
}
nav a{
  text-decoration: none;
  padding: 20px;
  color: #737373;
  display: inline-block;
  transition: all 0.2s;
  text-transform: lowercase;
  font-size: 16px;
}
nav a:hover{
  color: #000;
}
li.logo a{
  color: #272727;
}
img{
  width: 100%;
  height: auto;
}
.slide-in{
  opacity: 0;
  transition: all .5s;
}
.align-left.slide-in{
  transform: translateX(-30%) scale(0.95);
}
.align-right.slide-in{
  transform: translateX(30%) scale(0.95);
}
.slide-in.active {
  opacity: 1;
  transform:translateX(0%) scale(1);
}