@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  min-height: 100vh;
  margin: 0;
  color: #7d7d7d;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  margin: 0 auto;
  max-width: 650px;
  font-size: 20px;
  line-height: 2;
  position: relative;
}
a{
  text-decoration: none;
  color: #272727;
  background: rgba(240, 233, 241, 0.4);
}
.highlight{
  transition: all 0.2s;
  border-bottom: 2px solid #fbac87;
  position: absolute;
  top: 0;
  background: #fbac87;
  left: 0;
  z-index: -1;
  display: block;
}
.menu{
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 40px 0 60px 0;
  text-wrap: nowrap;
}
.menu a{
  display: inline-block;
  padding: 5px;
  margin: 0 20px;
}
