@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'DM Mono', sans-serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #7886d7;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

.timer__controls {
  margin-bottom: 20px;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
.timer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.timer__controls > * {
  margin-bottom: 10px;
}

.timer__controls input {
  border: 0;
  padding: 2rem;
  margin: 0 auto;
  font-size: 2rem;
  background: #ffe1ea;
  color: #2a2a2b;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  text-align: center;
}
.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: #091540;
  padding: 1.5rem;
}
.timer__button:hover,
.timer__button:focus {
  background: #33468a;
  outline: 0;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: none; /* Initially hidden */
}

.progress-ring__circle {
  stroke-dasharray: 879;
  stroke-dashoffset: 879;
  transition: stroke-dashoffset 1s linear;
}

.display__time-left {
  font-weight: bold;
  font-size: 5rem;
  color: #fff;
  position: absolute;
  justify-content: center;
  text-align: center;
}

.display__end-time {
  font-size: 4rem;
  color: white;
  text-align: center;
}
